.expense-table {
  max-width: 1100px;
  margin: 10px auto;
  background-color: white;
  margin-bottom: 20px;
}

.search-bar-div {
  width: 300px;
  margin: 10px auto;
}

.search-input-style {
  width: 300px;
  margin: 10px auto;
  height: 40px;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
}